
.container img{
    width: 100%;
}

.container div{
    max-height: none !important;
}

.container a{
 position: absolute;
 top: 50%;
 font-size: 25px;
 color: var(--white);
}

.container a:first-of-type{
    left: 10px;
}

.container a:last-of-type{
    right: 10px;
}

.container a:hover{
    cursor: pointer;
}